@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sdzZCDf9_T_10c3i9MeUcyat4iJY-ERBrE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sdzZCDf9_T_10c3i9MeUcyat4iJY-2RBrE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sdzZCDf9_T_10c3i9MeUcyat4iJY9aQxrE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sdzZCDf9_T_10c3i9MeUcyat4iJY9jQxrE.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sfzZCDf9_T_3cV7NCUECyoxNk338xsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sfzZCDf9_T_3cV7NCUECyoxNk3M8tsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v29/P5sfzZCDf9_T_3cV7NCUECyoxNk3CstsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlpogwHKFkZgtmSR3NB0oRJfaghW.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlprgwHKFkZgtmSR3NB0oRJfajCOD9NV.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlprgwHKFkZgtmSR3NB0oRJfajDqDtNV.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlp2gwHKFkZgtmSR3NB0oRJvaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJXsCx2Cw.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJX1C12Cw.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: #313652;
}
a.a-underline {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
  font-weight: 800;
}
.btn-custom {
  padding: 9px 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 2px;
  overflow: hidden;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.4s ease-in-out;
  will-change: transform;
  z-index: 0;
  white-space: nowrap;
  box-shadow: 0px 5px 13.3px 0px rgba(0, 0, 0, 0.12);
}
.btn-custom:hover {
  opacity: 0.92;
}
.btn-custom.btn-custom__primary {
  color: #fff;
  background-color: #313652;
}
.btn-custom.btn-custom__secondary__reverse {
  color: #AE9099;
  background-color: #fff;
}
.btn-custom.btn-custom__secondary {
  color: #fff;
  background-color: #AE9099;
  border: 1px solid #AE9099;
}
.btn-custom.btn-custom__secondary:hover {
  color: #fff;
  background-color: #AE9099;
  border: 1px solid #AE9099;
}
.btn-custom.btn-custom__outline__secondary {
  background-color: transparent;
  color: #313652;
  border: 1px solid #AE9099;
}
.btn-custom.btn-custom__outline__secondary:hover {
  color: #AE9099;
}
.btn-custom.btn-custom__outline__white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-custom.btn-custom__outline__white::after {
  background-color: #fff;
}
.btn-custom.btn-custom__outline__white:hover {
  color: #313652;
  transform: scale(1.03);
}
.btn-custom.btn-custom__outline__primary {
  background-color: transparent;
  color: #313652;
  border: 1px solid #313652;
}
.btn-custom.btn-custom__outline__primary::after {
  background-color: #313652;
}
.btn-custom.btn-custom__outline__primary:hover {
  color: #fff;
  transform: scale(1.03);
}
.btn-custom .btn-custom-text {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}
.btn-custom .btn-custom-text:hover {
  border: 0;
  opacity: 0.8;
}
.btn-custom .btn-custom-text:active {
  border: 0;
}
.navbar-custom {
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
}
@media (max-width: 991px) {
  .navbar-custom {
    background-color: #313652;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.navbar-custom .navbar-brand img {
  width: 104px;
}
@media (max-width: 1199px) {
  .navbar-custom .navbar-brand img {
    width: 88px;
  }
}
@media (max-width: 991px) {
  .navbar-custom .navbar-brand img {
    width: 88px;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-brand img {
    width: 72px;
  }
}
.navbar-custom .navbar-nav {
  margin-right: 12px;
  align-items: center;
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav {
    align-items: flex-end;
  }
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu {
  padding: 24px;
  column-count: 2;
  gap: 0;
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .dropdown-menu {
    column-count: 1;
  }
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .dropdown-menu li {
    border-right: 0;
  }
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  padding: 16px 24px;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
    padding-right: 0;
    text-align: right;
  }
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
  color: #AE9099;
  background-color: transparent;
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu li .dropdown-item:active {
  color: #AE9099;
  background-color: #F3F5F7;
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu li:nth-child(even) {
  border-bottom: 0;
}
.navbar-custom .navbar-nav .nav-item .dropdown-menu li:nth-last-child(-n + 2) {
  border-right: 0;
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .dropdown-menu li:nth-last-child(-n + 1) {
    border-bottom: 0;
  }
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.4px;
  transition: all 0.4s ease-in-out;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
}
.navbar-custom .navbar-nav .nav-item .nav-link.active {
  color: #AE9099;
}
@media (max-width: 1199px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-align: right;
    padding: 20px 8px;
  }
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    padding: 24px 8px;
    padding-right: 0;
    font-size: 14px;
  }
}
.navbar-custom .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/icon-toggle.svg);
  border: 0;
}
.container-custom {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 991px) {
  .container-custom {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .container-custom {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container-fluid-custom {
  padding: 0;
}
section.section {
  padding: 80px 0;
  position: relative;
}
@media (max-width: 991px) {
  section.section {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  section.section {
    padding: 32px 0;
  }
}
section.section__footer-line {
  border-bottom: 2px solid #e8e5fc;
}
section.bg-screw__content {
  position: relative;
  z-index: 1;
}
section.bg-screw_top::before,
section.bg-screw_bottom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 94px;
  z-index: 1;
}
section.bg-screw_top {
  padding-top: 72px;
}
section.bg-screw_top::before {
  top: -46px;
  transform: skewY(-3deg);
}
section.bg-screw_bottom {
  padding-bottom: 140px;
}
@media (max-width: 991px) {
  section.bg-screw_bottom {
    padding-bottom: 56px;
  }
}
section.bg-screw_bottom::after {
  bottom: -46px;
  transform: skewY(-3deg);
}
section.bg-custom_primary::before,
section.bg-custom_primary::after {
  background-color: #313652;
}
section.bg-custom-secondary::before,
section.bg-custom-secondary::after {
  background-color: #AE9099;
}
section .section-title {
  margin-bottom: 32px;
}
section .section-title .overline {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  section .section-title .overline {
    font-size: 20px;
    line-height: 24px;
  }
}
section .section-title .title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  section .section-title .title {
    font-size: 24px;
    line-height: 28px;
  }
}
section.section-dark {
  background-color: #313652;
}
section.section-dark p {
  color: white;
}
section.section-dark h2 {
  color: #fff;
  z-index: 0;
}
section.section-dark .section-title .overline {
  color: white;
}
section.section-dark .section-title .title {
  color: white;
}
.title-emphasized {
  padding-left: 32px;
  transform: translateX(-32px);
  margin-bottom: 16px;
}
.title-emphasized p {
  font-weight: 600;
}
.bg-custom-primary {
  background-color: #313652;
  color: #fff;
}
.bg-custom-primary .title-emphasized {
  border-left: 2px solid #AE9099;
}
.bg-custom-secondary {
  background-color: #AE9099;
  color: #fff;
}
.bg-custom-secondary .title-emphasized {
  border-left: 2px solid #fff;
}
.bg-pattern {
  background-image: url(../img/pattern2.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
}
@media (max-width: 991px) {
  .bg-pattern {
    background-image: none;
  }
}
.img-pattern {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 2;
}
@media (max-width: 991px) {
  .img-pattern {
    display: none;
  }
}
.hero-section {
  background-image: url(../img/img-hero-hp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 75%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/img-hero-hp@2x.jpg');
  }
}
.hero-section.hero-about {
  background-image: url(../img/img-hero-about.jpg);
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section.hero-about {
    background-image: url('../img/img-hero-about@2x.jpg');
  }
}
.hero-section.hero-podcast {
  background-image: url(../img/img-hero-podcast.jpg);
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section.hero-podcast {
    background-image: url('../img/img-hero-podcast@2x.jpg');
  }
}
.hero-section.hero-contact {
  background-image: url(../img/img-hero-contact.jpg);
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section.hero-contact {
    background-image: url('../img/img-hero-contact@2x.jpg');
  }
}
.hero-section.hero-gradient {
  background-image: url(../img/img-hero-bg.jpg);
  padding: 88px 0;
}
.hero-section.hero-gradient p {
  color: #313652;
}
.hero-section.hero-gradient h3 {
  color: #313652;
}
.hero-section.hero-gradient .tape-effect {
  transform: rotate(4.15deg);
}
.hero-section.hero-gradient .tape-effect:first-child {
  transform: rotate(-4.25deg);
}
.hero-section.hero-gradient::after {
  background: none;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section.hero-gradient {
    background-image: url('../img/img-hero-bg@2x.jpg');
  }
}
.hero-section.hero-auto {
  padding: 140px 0;
  height: auto;
}
@media (max-width: 991px) {
  .hero-section {
    height: auto;
  }
}
.hero-section::after {
  content: "";
  background: linear-gradient(79deg, #272575 -0.55%, rgba(39, 37, 117, 0.37) 46.86%, rgba(234, 76, 218, 0) 55.5%, rgba(39, 37, 117, 0) 100%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero-section::before {
  content: "";
  background: url(../img/figure-hero-line.svg) no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 132px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}
@media (min-width: 1921px) {
  .hero-section::before {
    height: 270px;
  }
}
.hero-section .hero-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 50%;
  line-height: 1;
}
@media (max-width: 991px) {
  .hero-section .hero-content {
    padding-top: 340px;
    padding-bottom: 120px;
    max-width: 100%;
    align-items: center;
  }
}
.hero-section .hero-content h1 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .hero-section .hero-content h1 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .hero-section .hero-content h1 {
    font-size: 28px;
    text-align: center;
  }
}
.hero-section .hero-content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
.subscription-section-followed.hero-section::before {
  background: url(../img/figure-hero-line-primary.svg) no-repeat center bottom;
}
.highlighted-title {
  position: relative;
  display: inline-block;
}
.highlighted-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 18px;
}
.highlighted-title.highlighted-title__white {
  color: white;
  z-index: 1;
}
.highlighted-title.highlighted-title__white::before {
  background-color: rgba(210, 204, 250, 0.55);
}
.highlighted-title.highlighted-title__primary {
  color: #313652;
}
.highlighted-title.highlighted-title__primary::before {
  background-color: rgba(210, 204, 250, 0.5);
}
.press__wrap {
  z-index: 1;
  position: relative;
}
.press__wrap .press {
  margin-top: -72px;
}
.press__wrap .press img {
  opacity: 0.4;
}
@media (min-width: 1400px) {
  .press__wrap .press {
    width: 80%;
  }
}
.img-custom {
  box-shadow: 0px 13px 33px 0px rgba(0, 0, 0, 0.16);
}
.bg-flowers {
  overflow: hidden;
  position: relative;
}
.bg-flowers::before {
  content: "";
  position: absolute;
  left: -115px;
  top: 0;
  background-image: url(../img/flower.png);
  display: inline-block;
  width: 343px;
  height: 300px;
  background-size: 343px 300px;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .bg-flowers::before {
    background-image: url(../img/flower@2x.png);
  }
}
.bg-flowers::after {
  content: "";
  position: absolute;
  right: -115px;
  bottom: 0;
  background-image: url(../img/flower.png);
  display: inline-block;
  width: 245px;
  height: 215px;
  background-size: 245px 215px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .bg-flowers::after {
    background-image: url(../img/flower@2x.png);
  }
}
.cta-block {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}
@media (min-width: 1400px) {
  .cta-block {
    max-width: 80%;
    margin: 0 auto;
  }
}
footer {
  padding-top: 72px;
}
footer .footer-bottom {
  background-color: #F3F5F7;
  padding: 16px;
  color: #8E9399;
  text-align: center;
}
footer .footer-bottom p {
  margin-bottom: 0;
}
footer .footer-bottom p a {
  color: #3E4247;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 24px;
}
footer .footer-content .social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: all 0.4s ease-in-out;
  margin: 28px 0;
}
footer .footer-content .social-icons li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
footer .footer-content .social-icons li a:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}
footer .copyright {
  opacity: 0.3;
}
.subscription-section .cta-block {
  background-color: transparent;
  padding: 0;
}
.modal-content {
  background-color: #313652;
}
.modal-content .modal-header {
  border: 0;
  padding-top: 16%;
  justify-content: center;
}
.modal-content .modal-header h2 {
  text-align: center;
}
.modal-content .modal-header .btn-close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal-content .modal-body {
  padding: 10%;
  padding-top: 24px;
}
.service-description {
  margin-bottom: 180px;
}
@media (max-width: 991px) {
  .service-description {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .service-description {
    margin-bottom: 40px;
  }
}
.services {
  display: flex;
  column-count: 3;
  column-gap: 30px;
  margin-bottom: 72px;
}
@media (max-width: 991px) {
  .services {
    flex-direction: column;
  }
}
.services .service-block {
  background-color: #fff;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  box-shadow: 0px 11px 40px #0003;
}
@media (max-width: 991px) {
  .services .service-block {
    margin-bottom: 40px;
  }
}
.services .service-block img {
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
}
.services .service-block .service-block__content {
  text-align: center;
  color: #000;
  padding: 24px;
}
.services .service-block .service-block__content h3 {
  font-size: 26px;
}
.services .service-block .service-block__content p {
  font-size: 16px;
  color: #3E4247;
}
.features {
  display: flex;
  column-count: 3;
  column-gap: 30px;
}
@media (max-width: 991px) {
  .features {
    flex-direction: column;
  }
}
.features .fetures-block {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.features .fetures-block figure {
  border: 1px solid #fff;
  width: 76px;
  height: 76px;
  border-radius: 0 30px 0 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .fetures-block p {
  color: #fff;
}
