// main: style.less

@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: @font-secondary;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: @primary;

  &.a-underline {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-primary;
  font-weight: 800;
}

.btn-custom {
  padding: 9px 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: @border-radius-sm;
  transition: @transition;
  overflow: hidden;
  font-family: @font-accent;
  text-transform: uppercase;
  font-size: 12px;
  transition: @transition;
  will-change: transform;
  z-index: 0;
  white-space: nowrap;
  box-shadow: 0px 5px 13.3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    opacity: .92;
  }


  &.btn-custom__primary {
    color: @white;
    background-color: @primary;


  }

  &.btn-custom__secondary__reverse {
    color: @secondary ;
    background-color: @white;

  }




  &.btn-custom__secondary {
    color: @white;
    background-color: @secondary;
    border: 1px solid @secondary;

    &:hover {
      color: @white;
      background-color: @secondary;
      border: 1px solid @secondary;
    }
  }

  &.btn-custom__outline__secondary {
    background-color: transparent;
    color: @primary;
    border: 1px solid @secondary;

    &:hover {
      color: @secondary;
    }
  }

  &.btn-custom__outline__white {
    background-color: transparent;
    color: @white;
    border: 1px solid @white;

    &::after {
      background-color: @white;
    }

    &:hover {
      color: @primary;
      transform: scale(1.03);

    }
  }

  &.btn-custom__outline__primary {
    background-color: transparent;
    color: @primary;
    border: 1px solid @primary;

    &::after {
      background-color: @primary;
    }

    &:hover {
      color: @white;
      transform: scale(1.03);

    }
  }

  .btn-custom-text {
    font-weight: 700;
    font-size: 16px;
    padding: 0;

    &:hover {
      border: 0;
      opacity: 0.8;
    }

    &:active {
      border: 0;
    }
  }
}

.navbar-custom {
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;

  &::after {
    content: "";
    background-image: linear-gradient(270deg, rgba(174, 144, 153, 0.00) 0%, rgba(174, 144, 153, 0.63) 16.4%, #AE9099 49.9%, rgba(174, 144, 153, 0.57) 89.4%, rgba(174, 144, 153, 0.00) 100%);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }


  @media @breakpoint-tablet {
    background-color: @primary;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-brand {
    img {
      width: 104px;

      @media @breakpoint-tablet-xl {
        width: 88px;
      }

      @media @breakpoint-tablet {
        width: 88px;
      }

      @media @breakpoint-mobile {
        width: 72px;
      }
    }

  }

  .navbar-nav {
    margin-right: 12px;
    align-items: center;

    @media @breakpoint-tablet {
      align-items: flex-end;
    }

    .nav-item {
      .dropdown-menu {
        padding: 24px;
        column-count: 2;
        gap: 0;

        @media @breakpoint-tablet {
          column-count: 1;
        }

        li {

          @media @breakpoint-tablet {
            border-right: 0;
          }

          .dropdown-item {
            padding: 16px 24px;
            text-align: center;

            @media @breakpoint-tablet {
              padding-right: 0;
              text-align: right;
            }

            &:hover {
              color: @secondary;
              background-color: transparent;
            }

            &:active {
              color: @secondary;
              background-color: @neutral;
            }
          }

          &:nth-child(even) {
            border-bottom: 0;

            @media @breakpoint-tablet {}
          }

          &:nth-last-child(-n + 2) {
            border-right: 0;
          }

          &:nth-last-child(-n + 1) {
            @media @breakpoint-tablet {
              border-bottom: 0;
            }
          }
        }
      }

      .nav-link {
        color: @white;
        padding-left: 20px;
        padding-right: 20px;
        font-family: @font-accent;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.4px;
        transition: @transition;



        &:hover {
          opacity: .8;
        }


        &.active {
          color: @secondary;
        }



        @media @breakpoint-tablet-xl {
          text-align: right;
          padding: 20px 8px;
        }

        @media @breakpoint-tablet {
          padding: 24px 8px;
          padding-right: 0;
          font-size: 14px;
        }
      }
    }
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url(../img/icon-toggle.svg);
      border: 0;
    }
  }
}

.navbar-footer {
  margin-top: 20px;

  .navbar-nav {
    @media @breakpoint-tablet {
      flex-direction: column;
    }

    .nav-link {
      color: @primary;
      padding-left: 20px;
      padding-right: 20px;
      font-family: @font-accent;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.4px;
      transition: all 0.4s ease-in-out;
      opacity: .9;

      @media @breakpoint-tablet {
        text-align: center;
      }

      &:hover {
        color: @secondary;
        opacity: 1;
      }

      &.nav-link__cta {
        color: @secondary;

        &:hover {
          color: @secondary;
          opacity: 1;
        }
      }
    }
  }
}

.container-custom {
  padding-left: 80px;
  padding-right: 80px;

  @media @breakpoint-tablet {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media @breakpoint-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-fluid-custom {
  padding: 0;

}

section {
  &.section {
    padding: 80px 0;
    position: relative;
    min-height: 350px;

    @media @breakpoint-tablet {
      padding: 40px 0;
      min-height: 350px;
    }

    @media @breakpoint-mobile {
      padding: 32px 0;
    }
  }

  &.blog-section {
    padding-bottom: 0;
  }

  &.section__footer-line {
    border-bottom: 2px solid rgb(232 229 252);

  }

  &.bg-screw__content {
    position: relative;
    z-index: 1;
  }

  &.bg-screw_top::before,
  &.bg-screw_bottom::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 94px;
    z-index: 1;
  }

  &.bg-screw_top {
    padding-top: 72px;

    &::before {
      top: -46px;
      transform: skewY(-3deg);

      @media @breakpoint-desktop {
        transform: skewY(-2deg);
      }
    }
  }

  &.bg-screw_bottom {
    padding-bottom: 120px;

    @media @breakpoint-tablet {
      padding-bottom: 56px;
    }

    &::after {
      bottom: -46px;
      transform: skewY(-3deg);

      @media @breakpoint-desktop {
        transform: skewY(-2deg);
      }
    }
  }

  &.bg-custom-primary::before,
  &.bg-custom-primary::after {
    background-color: @primary;
  }

  &.bg-custom-secondary::before,
  &.bg-custom-secondary::after {
    background-color: @secondary;
  }

  &.bg-custom-neutral::before,
  &.bg-custom-neutral::after {
    background-color: @neutral;
  }

  


  .section-title {
    margin-bottom: 32px;

    .overline {
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.03em;
      margin-bottom: 6px;

      @media @breakpoint-mobile {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;

      @media @breakpoint-mobile {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }



  &.section-dark {
    background-color: @primary;

    p {
      color: white;
    }

    h2 {
      color: @white;
      z-index: 0;
    }

    .section-title {
      .overline {
        color: white;
      }

      .title {
        color: white;
      }
    }
  }
}

.title-emphasized {

  padding-left: 32px;
  transform: translateX(-32px);
  margin-bottom: 16px;

  p {
    font-weight: 600;
  }
}

.bg-custom-primary {
  background-color: @primary;
  color: @white;

  .title-emphasized {
    border-left: 2px solid @secondary;
  }
}


.bg-custom-secondary {
  background-color: @secondary;
  color: @white;

  .title-emphasized {
    border-left: 2px solid @white;
  }
}

.bg-custom-neutral {
  background-color: @neutral;
  color: @text-primary;

  .title-emphasized {
    border-left: 2px solid @secondary;
  }
}

.bg-pattern-two {
  background-image: url(../img/pattern2.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
  background-position-y: 80%;

  @media @breakpoint-tablet {
    background-image: none;
  }
}

.bg-pattern {
  background-image: url(../img/pattern.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50%;
  background-position-y: 94px;

  @media @breakpoint-tablet {
    background-image: none;
  }
}

.img-pattern {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 2;

  @media @breakpoint-tablet {
    display: none;
  }
}


.hero-section {
  background-image: url(../img/img-hero-hp_1920x1044.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 75%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url('../img/img-hero-hp@2x_3840x2088.jpg');
  }

  &.hero-short {
    background: linear-gradient(87deg, #333750 0%, #626377 100%);
    height: auto;
    text-align: center;

    .hero-content {
      padding-top: 160px;
      padding-bottom: 120px;
      width: 100%;
      max-width: 100%;
      align-items: center;
    }
  }

  &.hero-blog {
    background: linear-gradient(288deg, rgba(49, 54, 83, 0.69) 0%, rgba(49, 54, 83, 0.90) 100%), url("../img/img-blogpost-1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .hero-content {
      padding-top: 160px;
      padding-bottom: 120px;
      width: 100%;
      max-width: 100%;
      align-items: center;

      @media @breakpoint-desktop {
        max-width: 60%;
        margin: 0 auto;
      }

      .date {
        color: @secondary;
        font-weight: 700;
      }
    }

    @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      background: linear-gradient(288deg, rgba(49, 54, 83, 0.69) 0%, rgba(49, 54, 83, 0.90) 100%), url("../img/img-blogpost-1920x1080@2x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
    }
  }


  @media @breakpoint-tablet {
    height: auto;
  }

  &::after {
    content: "";
    background: linear-gradient(79deg, #272575 -0.55%, rgba(39, 37, 117, 0.37) 46.86%, rgba(234, 76, 218, 0.00) 55.5%, rgba(39, 37, 117, 0.00) 100%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  &::before {
    content: "";
    background: url(../img/figure-hero-line.svg) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    height: 132px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;


    @media @breakpoint-desktop-xl {
      height: 270px;
    }
  }

  .hero-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 50%;
    line-height: 1;

    @media @breakpoint-tablet {
      padding-top: 160px;
      padding-bottom: 120px;
      max-width: 100%;
      align-items: center;
    }

    h1 {
      font-size: 50px;
      font-weight: 600;
      color: @white;
      margin-bottom: 32px;

      @media @breakpoint-laptop-xl {
        font-size: 32px;
      }

      @media @breakpoint-tablet {
        font-size: 28px;
        text-align: center;
      }


    }

    p {
      color: @white;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.subscription-section-followed.hero-section::before {
  background: url(../img/figure-hero-line-primary.svg) no-repeat center bottom;

}

.highlighted-title {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 18px;
  }

  &.highlighted-title__white {
    color: white;
    z-index: 1;

    &::before {
      background-color: rgba(210, 204, 250, 0.55);
    }
  }

  &.highlighted-title__primary {
    color: @text-primary;

    &::before {
      background-color: rgba(210, 204, 250, 0.50);
    }
  }
}

.press__wrap {
  z-index: 1;
  position: relative;

  .press {
    margin-top: -72px;

    img {
      opacity: .4;
    }

    @media @breakpoint-desktop {
      width: 80%;
    }
  }
}

.img-custom {
  box-shadow: 0px 19px 57px 0px rgba(0, 0, 0, 0.07);
}

.bg-flowers {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -115px;
    top: 0;
    background-image: url(../img/flower_680x594.png);
    display: inline-block;
    width: 343px;
    height: 300px;
    background-size: 343px 300px;

    @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      background-image: url(../img/flower@2x_1360x1188.png);
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: -115px;
    bottom: -0;
    background-image: url(../img/flower_680x594.png);
    display: inline-block;
    width: 245px;
    height: 215px;
    background-size: 245px 215px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      background-image: url(../img/flower@2x_1360x1188.png);
    }
  }

}

.cta-block {
  background-color: @white;
  padding: 40px;
  text-align: center;

  @media @breakpoint-desktop {
    max-width: 80%;
    margin: 0 auto;
  }
}

footer {
  padding-top: 56px;

  .footer-bottom {
    background-color: @neutral;
    padding: 16px;
    color: #8E9399;
    text-align: center;

    p {
      margin-bottom: 0;
      font-size: 14px;

      a {
        color: @text-base;
      }
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 24px;

    .social-icons {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 10px;
      transition: all 0.4s ease-in-out;
      margin: 16px 0 28px 0;

      li {
        a {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          transition: all 0.4s ease-in-out;

          &:hover {
            filter: brightness(110%);
            transform: scale(1.05);
          }
        }
      }
    }

  }

  .copyright {
    opacity: .3;
  }
}

.subscription-section {
  .cta-block {
    background-color: transparent;
    padding: 0;


  }
}

.service-description {
  margin-bottom: 180px;

  @media @breakpoint-tablet {
    margin-bottom: 80px;
  }

  @media @breakpoint-mobile {
    margin-bottom: 40px;
  }
}

.services {
  display: flex;
  column-count: 3;
  column-gap: 30px;

  @media @breakpoint-tablet {
    flex-direction: column;
  }

  .service-block {
    background-color: @white;
    border-bottom-left-radius: @border-radius-md;
    border-top-right-radius: @border-radius-md;
    box-shadow: 0px 11px 40px #0003;

    @media @breakpoint-tablet {
      margin-bottom: 40px;
    }

    img {
      border-bottom-left-radius: @border-radius-md;
      border-top-right-radius: @border-radius-md;
    }

    .service-block__content {
      text-align: center;
      color: #000;
      padding: 24px;

      h3 {
        font-size: 26px;
      }

      p {
        font-size: 16px;
        color: #3E4247;
      }
    }
  }

  &.services-inner {
    column-count: 1;
    flex-direction: column;

    .service-block {
      display: flex;
      flex-direction: row;
      margin-bottom: 64px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      img {
        max-width: 40%;
      }

      .service-block__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.features {
  display: flex;
  column-count: 3;
  column-gap: 30px;
  margin-top: 72px;

  @media @breakpoint-tablet {
    flex-direction: column;
  }

  .fetures-block {
    display: flex;
    column-gap: 16px;
    align-items: center;

    figure {
      border: 1px solid @white;
      width: 76px;
      height: 76px;
      border-radius: 0 30px 0 30px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: @white;
    }
  }
}

.section-testimonials {
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    right: -100px;
    bottom: 0;
    background-image: url(../img/flower_680x594.png);
    display: inline-block;
    width: 340px;
    height: 296px;
    background-size: 340px 296px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(10deg);
    z-index: -1;
  }

  .testimonial-block {
    padding: 64px;
    background-color: @neutral;
    border-top-right-radius: @border-radius-md;
    border-bottom-left-radius: @border-radius-md;
    margin-bottom: 44px;

    @media @breakpoint-mobile-sm {
      padding: 32px;
    }

    img {
      margin-bottom: 16px;
    }

    .testimonial-block__img {
      display: flex;
      column-gap: 32px;
      justify-content: space-between;
    }

    .testimonial-block__content {
      padding-left: 40px;

      p {
        &:last-child {
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
}

.blog-section {
  &.text-page {
    p {
      margin-bottom: 2rem;
    }

    ul {
      margin-bottom: 3rem;
      list-style: none;
      padding-left: 10px;

      li {
        list-style-image: url(../img/icon-list.svg);
        padding-left: 8px;
        margin-bottom: 8px;

        &::before {
          content: "";

        }
      }
    }

    ol {
      counter-reset: custom-counter;
      list-style: none;
      padding-left: 0;
      margin-bottom: 3rem;

      li {
        display: flex;
        align-items: flex-start;
        counter-increment: custom-counter;
        margin-bottom: 10px;

        &::before {
          content: counter(custom-counter);
          background-color: @secondary;
          color: white;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 16px;
          flex-shrink: 0;
          margin-top: 2px;
        }
      }
    }
  }

  .blog-block {
    margin-bottom: 56px;
  }

  .block-block__content {
    .date {
      color: @secondary;
      font-weight: 700;
    }

    h2 {
      margin-bottom: 16px;
    }


  }

  .share {
    display: flex;
    align-items: center;
    border-top: 1px solid @secondary;
    padding: 40px;
    margin-top: 56px;
    justify-content: center;

    h4 {
      color: @secondary;
    }
  }

}

.pagination {
  --bs-pagination-padding-x: 1rem;
  --bs-pagination-padding-y: 0.5rem;
  --bs-pagination-font-size: 1.2rem;
  --bs-pagination-color: @primary;
  --bs-pagination-border-color: transparent;
  --bs-pagination-hover-color: @secondary;
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-hover-border-color: transparent;
  --bs-pagination-focus-color: @secondary;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-active-border-color: transparent;
  position: relative;
  padding-bottom: 24px;

  &::after {
    content: "";
    background-image: linear-gradient(270deg, rgba(174, 144, 153, 0.00) 0%, rgba(174, 144, 153, 0.63) 16.4%, #AE9099 49.9%, rgba(174, 144, 153, 0.57) 89.4%, rgba(174, 144, 153, 0.00) 100%);
    height: 1px;
    opacity: .6;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .page-link {
    font-family: @font-primary;
  }
}

.accordion-button {
  font-weight: 700;
  font-size: 18px;

  &:not(.collapsed) {    
    background-color: #f7f4f5;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #e8e1e3;
  }

  &::after {
    border: 1px solid @secondary;
    background-position: center;
    padding: 16px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.contact{
  display: flex;
  column-count: 3;
  column-gap: 30px;  
  justify-content: space-evenly;
  @media @breakpoint-mobile{
    column-count: 1;
    flex-direction: column;
  }
  .contact-block{
    @media @breakpoint-mobile{
      margin-bottom: 16px;
      text-align: center;
    }
  }
}



.modal-content {
  color: @white;
  background-color: transparent;
  border: 0;

  .modal-header {
    border: 0;
    padding-top: 16%;
    justify-content: center;

    h2 {
      text-align: center;
    }

    .btn-close {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }

  .modal-body {
    padding: 10%;
    padding-top: 24px;
  }
}
.modal-backdrop {
  background: @gradient-primary;
  opacity: .9!important;
}

.navbar-collapse {
padding-bottom: 20px;
}